catboost
huggingface-hub
ipykernel
ipywidgets
nbconvert
nvitop
numpy
ochat==3.5.1
optuna
pandas
python-dotenv
requests
scikit-learn
scipy
selfcheckgpt==0.1.4
sentence-transformers
tensorboard
torch
transformers
vllm
fairseq